<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard HR</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Spis zadań i zamówień</h1>
        </header>

        <nav>
            <ul>
                <li><a href="/warehouse/dashboard"><i class="fas fa-home"></i>Strona główna</a></li>
                <li><a href="/warehouse/dashboard"><i class="fas fa-warehouse"></i>Przejdź do magazynu</a></li>
                <li><a href="/hr/dashboard"><i class="fas fa-tachometer-alt"></i>Twój dashboard</a></li>
                <li><a href="/hr/workers"><i class="fas fa-users"></i>Pracownicy</a></li>
                <li><a href="/hr/orders"><i class="fas fa-shopping-cart"></i>Zamówienia</a></li>
                <li><a href="/hr/create_task"><i class="fas fa-tasks"></i>Zadania</a></li>
                <li><a href="/hr/vacation"><i class="fas fa-umbrella-beach"></i>Urlopy</a></li>
                <li><a href="/logout">Wyloguj</a></li>
            </ul>
        </nav>

        <section class="content">

            <h2>Urlopy oczekujace</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Użytkownik</th>
                        <th>Od</th>
                        <th>Do</th>
                        <th>Liczba dni</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .pending_vacations}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.UserName}}</td>
                        <td>{{.DateFrom}}</td>
                        <td>{{.DateTo}}</td>
                        <td>{{.DateCount}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
            
            <h2>Oczekujące faktury zakupu</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Dostawca</th>
                        <th>Kwota netto</th>
                        <th>Kwota brutto</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .pending_purchase_invoices}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.SupplierName}}</td>
                        <td>{{.NetPrice}}</td>
                        <td>{{.GrossPrice}}</td>
                        <td>{{.StatusName}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>

            <h2>Oczekujące faktury sprzedaży</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Klient</th>
                        <th>Kwota netto</th>
                        <th>Kwota brutto</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .pending_sales_invoices}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.SupplierName}}</td>
                        <td>{{.NetPrice}}</td>
                        <td>{{.GrossPrice}}</td>
                        <td>{{.StatusName}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
            <p>Witaj w panelu administracyjnym HR. Jesteś zalogowany jako: <strong>{{.user_name}}</strong></p>

        </section>
    </div>
</body>
</html>
