<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urlopy</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
            <header>
                <h1>Spis zadań i zamówień</h1>
            </header>

            <nav>
                <ul>
                    <li><a href="/warehouse/dashboard">Strona główna</a></li>
                    <li><a href="/warehouse/dashboard">Przejdź do magazynu</a></li>
                    <li><a href="/hr/dashboard">Twój dashboard</a></li>
                    <li><a href="/hr/workers">Pracownicy</a></li>
                    <li><a href="/hr/orders">Zamówienia</a></li>
                    <li><a href="/hr/create_task">Zadania</a></li>
                    <li><a href="/hr/vacation">Urlopy</a></li>
                    <li><a href="/logout">Wyloguj się</a></li>
                </ul>
            </nav>

            <section class="content">

                <h2>Wnioski urlopowe</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Imię i Nazwisko</th>
                            <th>Data Od</th>
                            <th>Data Do</th>
                            <th>Liczba Dni</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Vacations}}
                        <tr>
                            <td>{{.User.Name}} {{.User.Surname}}</td>
                            <td>{{.DateFrom}}</td>
                            <td>{{.DateTo}}</td>
                            <td>{{.DateCount}}</td>
                            <td>
                                {{if eq .Status "Wysłany"}}
                                <form method="POST">
                                    <input type="hidden" name="vacation_id" value="{{.ID}}">
                                    <button type="submit" name="status" value="Zatwierdzony">Zatwierdź</button>
                                    <button type="submit" name="status" value="Odrzucony">Odrzuć</button>
                                </form>
                                {{else}}
                                <span>{{.Status}}</span>
                                {{end}}
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </section>
    </div>
</body>
</html>